.voltage-class {
  // 主菜单容器
  .el-menu {
    background: transparent;
    border-right: none;
    color: #fff;
    font-family: Arial, sans-serif;
    transition: all 0.3s ease;
    .el-menu-item-group {
      .el-menu-item.is-active {
        background: red;
      }
    }
    .el-menu-item,
    .el-sub-menu__title {
      height: 42px;
      font-size: 14px;
      line-height: 42px;
      border-radius: 0;
      margin-bottom: 28px;
      background-color: transparent;
      // padding: 0 !important;
      padding-left: 20px !important;
      display: flex;
      align-items: center;
      .el-icon.el-sub-menu__icon-arrow {
        display: none;
      }
      &:hover {
        background: url('@/assets/images/sidebar-tag-hover.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        color: #fff;
      }
    }
    .el-menu-item:hover,
    .el-sub-menu > .el-sub-menu__title:hover {
      background: url('@/assets/images/sidebar-tag-hover.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
    .el-menu-item.is-active,
    .el-sub-menu.is-active > .el-sub-menu__title {
      background-image: url('@/assets/images/sidebar-tag-selected.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.el-menu--collapse .el-sub-menu.is-active > .el-sub-menu__title:hover,
    &.el-menu--collapse .el-menu-item.is-active:hover,
    &.el-menu--collapse .el-menu-item.is-active {
      background-image: url('@/assets/images/sidebar-collapseTag-selected.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.el-menu--collapse .el-menu-item:not(.is-active):hover {
      background-image: url('@/assets/images/sidebar-collapseTag-hover.png') !important;
    }
    &.el-menu--collapse .el-sub-menu > .el-sub-menu__title:hover {
      background-image: url('@/assets/images/sidebar-collapseTag-hover.png');
    }
    // 子菜单项
    .el-menu--inline {
      background: transparent !important;
      .el-menu-item {
        padding: 0;
        padding-left: 65px !important;
        margin-bottom: 10px;
        font-size: 12px;
        color: #fff;
        font-weight: 700;
        font-style: Bold;
        height: 36px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &:hover {
          background: rgba(255, 255, 255, 0.1);
          color: #fff;
        }
        &.is-active {
          background: rgba(255, 105, 0, 0.2);
          color: rgba(255, 105, 0, 1);
        }
      }
    }
    // 去除菜单分割线
    .el-menu-item:not(:last-child) {
      border-bottom: none;
    }
  }
  // 菜单收缩时的样式
  .el-menu--collapse {
    width: 44px;
    transition: all 0.3s ease;
    .el-menu-item,
    .el-sub-menu__title {
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 0 !important;
    }
    .el-sub-menu.is-active > .el-sub-menu__title {
      background-image: url('@/assets/images/sidebar-collapseTag-selected.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .el-menu:not(.el-menu--collapse) .el-sub-menu__title {
    padding-right: 0 !important;
  }
}
.el-popper.is-pure:has(.el-menu--vertical:first-child) {
  position: relative;
  margin-left: 22px;
  border: 1px solid;
  border-image: linear-gradient(
      117.64deg,
      rgba(148, 166, 197, 0.3) 2.73%,
      rgba(148, 166, 197, 0) 25.27%,
      rgba(148, 166, 197, 0.3) 41.05%,
      rgba(148, 166, 197, 0.103266) 61.63%,
      rgba(148, 166, 197, 0.3) 97.67%
    )
    1 !important;

  background: rgba(84, 98, 140, 0.2) !important;
  backdrop-filter: blur(100px);
  .el-menu--popup {
    padding: 10px 20px;
    border-radius: 0;
    min-width: 200px;
    .el-menu-item {
      font-size: 12px;
      margin-bottom: 10px;
      height: 36px;
      line-height: 36px;
      padding-left: 30px;
      &.is-active {
        background: rgba(255, 105, 0, 0.2);
        color: rgba(255, 105, 0, 1);
      }
      &:hover {
        background: rgba(255, 255, 255, 0.1);
        color: #fff;
      }
    }
  }
  &::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    left: -5.5px;
    background: linear-gradient(45deg, #374b73 50%, transparent 50%);
    // background-color: #213961;
    transform: rotate(45deg);
    border-bottom: 1px solid #415479;
    border-left: 1px solid #415479;
    z-index: 99;
  }
}
