@use "@/assets/styles/_variables.scss" as *;

.el-overlay {
  &.is-message-box {
    // background-color: $bg-color-dark-11;
    .el-message-box {
      padding: $spacing-md;
      background-color: $bg-color-dark-3;
      max-width: 450px;
      border-radius: $border-radius-small;
      font-size: $font-size-medium;
      box-shadow: none;
      .el-message-box__header {
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
        font-size: $font-size-large;
        max-width: 420px;
        // padding: $spacing-md;
        color: $text-color-primary;
        .el-message-box__title {
          font-size: $font-size-large;
          line-height: $line-height-normal;
          color: $text-color-primary;
        }
        .el-message-box__headerbtn {
          width: 14px;
          height: 14px;
          font-size: $font-size-medium;
          .el-icon.el-message-box__close {
            color: #000000 !important; // 黑色图标
            top: $spacing-md;
            right: $spacing-md;
          }
        }
      }
      .el-message-box__content {
        .el-message-box__container {
          gap: $spacing-md;
          .el-icon.el-message-box__status {
            color: $text-color-primary !important;
            &.el-message-box-icon--success {
              font-size: $size-lg;
              color: $success-color !important;
            }
            &.el-message-box-icon--warning {
              font-size: $size-lg;
              color: $warning-color !important;
            }
            &.el-message-box-icon--error {
              font-size: $size-lg;
              color: $danger-color !important;
            }
            &.el-message-box-icon--info {
              font-size: $size-lg;
              color: $info-color !important;
            }
          }
          .el-message-box__message {
            color: $text-color-primary;
            font-size: $font-size-medium;
            line-height: $line-height-normal;
            font-weight: $font-weight-normal;
          }
        }
      }
      .el-message-box__btns {
        padding-top: 12px;
      }
    }
  }
}
.el-message {
  gap: 8px !important;
  padding: 11px 15px !important;
  border-width: 1px !important;
  border-radius: 4px !important;
  background-color: $bg-color-dark-3 !important;
  border-color: $border-color-gray-light !important;
  .el-icon.el-message__icon {
    font-size: 24px !important;
  }
  .el-message__content {
    font-size: $font-size-base !important;
    font-weight: $font-weight-normal !important;
  }
  .el-icon.el-message__closeBtn {
    font-size: 16px !important;
  }
  &.el-message--success {
    background-color: $success-color !important;
    border-color: $success-color !important;
    .el-icon.el-message__icon,
    .el-message__content,
    .el-icon.el-message__closeBtn {
      color: $white-alpha-100 !important;
    }
  }
  &.el-message--warning {
    background-color: $warning-color !important;
    border-color: $warning-color !important;
    .el-icon.el-message__icon,
    .el-message__content,
    .el-icon.el-message__closeBtn {
      color: $white-alpha-100 !important;
    }
  }
  &.el-message--error {
    background-color: $danger-color !important;
    border-color: $danger-color !important;
    .el-icon.el-message__icon,
    .el-message__content,
    .el-icon.el-message__closeBtn {
      color: $white-alpha-100 !important;
    }
  }
  &.el-message--info {
    background-color: $info-color !important;
    border-color: $info-color !important;
    .el-icon.el-message__icon,
    .el-message__content,
    .el-icon.el-message__closeBtn {
      color: $white-alpha-100 !important;
    }
  }
  // 调整首条消息距顶高度
  &:first-child {
    top: 100px !important; // 可按需要改为 30px 或 0px
  }
}

