@use './theme-vars.scss' as *;

.voltage-class {
  .el-picker__popper.el-popper {
    top: 44px !important;
    background: $bg-transparent !important;
    border-radius: $border-radius-base !important;
    border: 1px solid !important;
    border-image: $border-gradient-default !important;
    box-shadow: $shadow-card !important;
    backdrop-filter: $backdrop-blur !important;
    background-color: $bg-dark-blue-hover !important;
    .el-date-picker {
      width: 332px !important;
    }
    .el-picker-panel {
      background: transparent !important;
      line-height: 30px;
      .el-picker-panel__body {
        color: #fff !important;
        .el-date-picker__time-header {
          border-bottom: 1px solid rgb(128, 128, 128);
          font-size: 12px;
          padding: 8px 5px 5px;
          .el-date-picker__editor-wrap {
            padding: 0 5px;
            // 时间选择�?
            .el-time-panel {
              // 时间选择器头
              width: 180px;
              border-radius: 2px;
              border: 1px solid rgba(128, 128, 128, 0.5);
              background-color: $bg-time-picker !important;

              margin: 0;
              .el-time-panel__header {
                padding: $spacing-md $spacing-lg;
                color: $color-white;
                border-bottom: 1px solid $color-gray-border;
                background: $bg-transparent;

                .el-time-panel__title {
                  font-size: 14px;
                  font-weight: 600;
                  color: #fff;
                }
              }

              // 时间选择器内�?
              .el-time-panel__content {
                // padding: 16px 20px;
                max-height: 192px;
                &::before {
                  border-bottom: 1px solid rgb(128, 128, 128);
                  border-top: 1px solid rgb(128, 128, 128);
                }
                &:after {
                  height: 32px;
                  margin-top: -16px;
                  padding-top: 6px;
                }
                // 时间列表
                .el-time-spinner__wrapper {
                  max-height: 192px;
                }
                .el-time-spinner__list {
                  &::before {
                    height: 80px;
                  }

                  // 缩小滚动条滑块样式
                  &::-webkit-scrollbar {
                    width: 6px;
                  }
                  &::-webkit-scrollbar-thumb {
                    background: rgba(39, 68, 113, 0.7);
                    border-radius: 3px;
                  }
                  &::-webkit-scrollbar-track {
                    background: transparent;
                  }

                  .el-time-spinner__item {
                    height: 36px;
                    line-height: 36px;
                    font-size: 14px;
                    color: #fff;
                    transition: all 0.3s ease;

                    &:hover {
                      background: rgba(39, 68, 113, 0.8);

                      color: #fff;
                    }

                    &.is-active {
                      background: rgba(39, 68, 113, 1);
                      color: #ffffff;
                      font-weight: 600;
                      // box-shadow: 0 2px 8px rgba(64, 158, 255, 0.3);
                    }

                    &.is-disabled {
                      color: #c0c4cc;
                      cursor: not-allowed;
                    }
                  }
                }
                .el-scrollbar {
                  .el-scrollbar__bar {
                    border-radius: 4px;
                    right: 2px;
                    &.is-vertical {
                      top: 2px;
                      width: 6px;
                      .el-scrollbar__thumb {
                        height: 20px !important;
                      }
                    }
                  }
                }
              }

              // 时间选择器底�?
              .el-time-panel__footer {
                // padding: 16px 20px;
                height: 36px;
                line-height: 25px;
                padding: 4px;
                border-top: 1px solid rgb(128, 128, 128);
                background-color: rgba(26, 48, 86, 1) !important;
                .el-time-panel__btn {
                  font-size: 14px;
                  color: #fff;
                  transition: all 0.3s ease;
                  margin: 5px;
                  line-height: 16px;
                  padding: 0 5px;
                  &.confirm {
                    font-weight: 400;
                  }
                }
              }
            }
          }
        }
        .el-date-picker__header {
          padding: 12px 12px 0;
          .el-date-picker__header-label {
            font-size: 14px;
            color: #fff;
          }

          .el-date-picker__prev-btn,
          .el-date-picker__next-btn {
            .el-picker-panel__icon-btn {
              color: #fff;
              font-size: 12px;
              margin-top: 8px;
              &:hover {
                color: #fff;
              }
            }
          }
        }
        .el-picker-panel__content {
          width: 292px !important;
          margin: 15px;
          .el-date-table {
            font-size: 12px;
            th {
              color: #fff;
              padding: 5px;
              border-bottom: 1px solid rgb(128, 128, 128);
            }
            td {
              height: 30px;
              width: 32px;
              padding: 4px 0;
              &.available:hover {
                color: rgba(255, 105, 0, 1);
              }
            }
          }
        }
      }
      .el-picker-panel__footer {
        background: transparent !important;
        padding: 4px 12px;
        border-top: 1px solid rgb(128, 128, 128);
        .el-picker-panel__link-btn {
          color: #fff !important;
          padding: 4px 12px;
          &.is-disabled {
            background: #3a5279 !important;
            color: #fff !important;
          }
        }
      }
    }
  }
}
.el-date-table td {
  &.disabled {
    background: transparent !important;
    .el-date-table-cell {
      background: rgba(255, 255, 255, 0.5) !important;
    }
  }
}
.el-date-table td .el-date-table-cell {
  height: 30px !important;
  padding: 3px 0 !important;
  line-height: 30px !important;
}
.el-date-table td.current:not(.disabled) .el-date-table-cell__text {
  height: $spacing-lg;
  width: $spacing-lg;
  line-height: $spacing-lg;
  background-color: $primary-color !important;
}

.el-date-table td .el-date-table-cell .el-date-table-cell__text {
  height: $spacing-lg !important;
  line-height: $spacing-lg !important;
  width: $spacing-lg !important;
  color: $color-white !important;
}
.el-date-table td.today .el-date-table-cell__text {
  color: $primary-color;
}
