.voltage-class {
  .el-collapse {
    border: none;
    color: #fff;
    .el-collapse-item__header {
      background-color: rgba(84, 98, 140, 0.2);
      border: 0.01rem solid;
      border-image: linear-gradient(
          117.64deg,
          rgba(148, 166, 197, 0.3) 2.73%,
          rgba(148, 166, 197, 0) 25.27%,
          rgba(148, 166, 197, 0.3) 41.05%,
          rgba(148, 166, 197, 0.103266) 61.63%,
          rgba(148, 166, 197, 0.3) 97.67%
        )
        1;
      box-shadow: 0rem 0.04rem 0.1rem 0rem rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(0.2rem);
      gap: 0.2rem;
      font-size: 0.16rem;
      height: 0.6rem;
      line-height: 0.6rem;
      min-height: 0.6rem;
      color: #fff;
      font-weight: 600;
      .el-collapse-item__header-text {
        color: #fff;
      }
      .el-collapse-item__arrow {
        color: #fff;
        font-size: 0.16rem;
        font-weight: 600;
        margin-left: 0.2rem;
      }
    }
    .el-collapse-item__wrap {
      background-color: rgba(84, 98, 140, 0.2);
      border: none;
      .el-collapse-item__content {
        padding-bottom: 0.1rem;
        font-style: 0.16rem;
      }
    }
  }
  .el-tabs {
    color: #fff;
    .el-tabs__header {
      margin: 0 0 0.15rem;
      &.is-top {
        height: 0.4rem;
        // border-bottom: 0.0rem solid rgba(255, 255, 255, 0.4);

        .el-tabs__nav-wrap {
          &:after {
            height: 0.02rem;
            background-color: #7a8092;
          }
          .el-tabs__nav-scroll {
            .el-tabs__nav {
              height: 0.4rem;
              line-height: 0.4rem;
              &.is-top {
                border: 0.02rem solid #7a8092;
                border-radius: 0;
                border-bottom: none;
              }
              .el-tabs__active-bar {
                display: none;
              }
              .el-tabs__item {
                color: #fff;
                font-size: 0.14rem;
                height: 0.4rem;
                line-height: 0.4rem;
                padding: 0 0.2rem;
                min-width: 1rem;
                border-left: 0.01rem solid #7a8092;
                border-bottom: 0.01rem solid transparent;
                // background-color: rgba(255, 255, 255, 0.1);
                &::first-child {
                  border-left: none;
                }
                &.is-active {
                  background-color: #ff6900;
                  border-bottom: 0.02rem solid #7a8092;
                }
              }
            }
          }
        }
      }
    }
  }
}
