.voltage-class {
  .el-collapse {
    border: none;
    color: #fff;
    .el-collapse-item__header {
      background-color: rgba(84, 98, 140, 0.2);
      border: 1px solid;
      border-image: linear-gradient(
          117.64deg,
          rgba(148, 166, 197, 0.3) 2.73%,
          rgba(148, 166, 197, 0) 25.27%,
          rgba(148, 166, 197, 0.3) 41.05%,
          rgba(148, 166, 197, 0.103266) 61.63%,
          rgba(148, 166, 197, 0.3) 97.67%
        )
        1;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(20px);
      gap: 20px;
      font-size: 16px;
      height: 60px;
      line-height: 60px;
      min-height: 60px;
      color: #fff;
      font-weight: 600;
      .el-collapse-item__header-text {
        color: #fff;
      }
      .el-collapse-item__arrow {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        margin-left: 20px;
      }
    }
    .el-collapse-item__wrap {
      background-color: rgba(84, 98, 140, 0.2);
      border: none;
      .el-collapse-item__content {
        padding-bottom: 10px;
        font-style: 16px;
      }
    }
  }
  .el-tabs {
    color: #fff;
    .el-tabs__header {
      margin: 0 0 15px;
      &.is-top {
        height: 40px;
        // border-bottom: 0px solid rgba(255, 255, 255, 0.4);

        .el-tabs__nav-wrap {
          &:after {
            height: 2px;
            background-color: #7a8092;
          }
          .el-tabs__nav-scroll {
            .el-tabs__nav {
              height: 40px;
              line-height: 40px;
              &.is-top {
                border: 2px solid #7a8092;
                border-radius: 0;
                border-bottom: none;
              }
              .el-tabs__active-bar {
                display: none;
              }
              .el-tabs__item {
                color: #fff;
                font-size: 14px;
                height: 40px;
                line-height: 40px;
                padding: 0 20px;
                min-width: 100px;
                border-left: 1px solid #7a8092;
                border-bottom: 1px solid transparent;
                // background-color: rgba(255, 255, 255, 0.1);
                &::first-child {
                  border-left: none;
                }
                &.is-active {
                  background-color: #ff6900;
                  border-bottom: 2px solid #7a8092;
                }
              }
            }
          }
        }
      }
    }
  }
}
